*,
html,
body {

    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 196, 196);
    color: black;
}

.dark {
    background-color: black;
    color:rgb(240, 226, 226);
}

.container {
    display :flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

nav{
    position: fixed;
    bottom: 0;
    border-bottom-color: bisque;
    background-color: rgb(156, 143, 88);
    width: 100%;
    padding: 20px;
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
}

nav a:hover {
    background-color: rgb(112, 93, 86);
    cursor: pointer;
    transition: background-color .5s ease-in-out;
}




